<div id="footer-top">
	<div class="container">
    	<div class="row">
        	<div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                <h2>
                    <a href="/">
                      <img src="images/logo.png" alt="Logo của nhà hàng" style="width: 100px; height: auto;">
                    </a>
                  </h2>
                                  <p>
                	Bạn đang tìm kiếm một trải nghiệm ẩm thực tuyệt vời ngay tại ngưỡng cửa nhà mình? Nhà hàng chúng tôi xin giới thiệu dịch vụ đặt đồ ăn mang về với món ngon hấp dẫn, được chuẩn bị tỉ mỉ từ những nguyên liệu tươi ngon nhất.

Với menu đa dạng và phong phú, từ những món ăn truyền thống đến những sáng tạo mới lạ, chúng tôi cam kết mang đến cho bạn không chỉ là những khẩu vị độc đáo mà còn là sự tiện lợi và thoải mái tuyệt đối. Chỉ cần vài bước đơn giản để đặt hàng, và chúng tôi sẽ mang đồ ăn ngon lành đến tận cửa nhà bạn.
                </p>
            </div>
            <div id="address" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Địa chỉ</h3>
                <p>Đại học Bách Khoá - Hà Nội</p>
                <p>Nam Từ Liêm,Hà Nội</p>
            </div>
            <div id="service" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Dịch vụ</h3>
            	<p>Hãy để nhà hàng của chúng tôi trở thành lựa chọn ưu tiên cho bữa ăn gia đình, tiệc tùng hay các sự kiện đặc biệt của bạn. </p>
            	<p>Chúng tôi luôn sẵn sàng phục vụ bạn với chất lượng tốt nhất và dịch vụ chu đáo nhất.</p>
            </div>
            <div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Hotline</h3>
            	<p>Phone Sale: 0949103296</p>
                <p>Email: hoang.nd210370@sis.hust.edu.vn</p>
            </div>
        </div>
    </div>
</div>

<!--	Footer	-->
<div id="footer-bottom">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<p>
                    2018 © Vietpro Academy. All rights reserved. Developed by Vietpro Software.
                </p>
            </div>
        </div>
    </div>
</div>
<!--	End Footer	-->
</body>
</html>