<div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
    <div id="banner">
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/food_banner_1.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/food_banner_2.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="images/food_banner_3.jpg"></a>
        </div>
 
    </div>
</div>
</div>
</div>
</div>
<!--	End Body	-->