<div class="row">
    <div id="main" class="col-lg-8 col-md-12 col-sm-12">
        <!--	Slider	-->
        <div id="slide" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#slide" data-slide-to="0" class="active"></li>
            <li data-target="#slide" data-slide-to="1"></li>
            <li data-target="#slide" data-slide-to="2"></li>
            <li data-target="#slide" data-slide-to="3"></li>
            <li data-target="#slide" data-slide-to="4"></li>
            <li data-target="#slide" data-slide-to="5"></li>
          </ul>
        
          <!-- The slideshow -->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/slider_1.jpg" alt="Vietpro Academy" style="width: 100%; height: 300px; object-fit: cover;">
              </div>
              <div class="carousel-item">
                <img src="images/slider_2.jpg" alt="Vietpro Academy" style="width: 100%; height: 300px; object-fit: cover;">
              </div>
              <div class="carousel-item">
                <img src="images/slider_3.jpg" alt="Vietpro Academy" style="width: 100%; height: 300px; object-fit: cover;">
              </div>
              <div class="carousel-item">
                <img src="images/slider_4.jpg" alt="Vietpro Academy" style="width: 100%; height: 300px; object-fit: cover;">
              </div>
              <div class="carousel-item">
                <img src="images/slider_5.jpg" alt="Vietpro Academy" style="width: 100%; height: 300px; object-fit: cover;">
              </div>
            </div>
          </div>
          
          

        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#slide" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#slide" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
        <!--	End Slider	-->